downloadDirectory
internalNewPassword =
partnerUser =
partnerUserPassword =
verifyUsername =
verifyPassword =
dbUsername =
dbPassword =
cardNumber =
cardExpiryMonth =
cardExpiryYear =
bucketName =
JENKINS_USERNAME =
JENKINS_PASSWORD =
apiHeader =