downloadDirectory =
adminUser =
partnerUser =
partnerUserPassword =
internalNewPassword =
adminPassword =
verifyUsername =
verifyPassword =
intUsername =
region =
dbUsername =
dbPassword =
cardNumber =
cardExpiryMonth =
cardExpiryYear =
bucketName =
secretKey=
proxyHost=
proxyPort=
browserStackKey=
binaryPath=
passportNumber=
surname=
firstName=
dateOfBirth-day=
dateOfBirth-month=
dateOfBirth-year=
expiryDate-day=
expiryDate-month=
expiryDate-year=
addressYearFrom=
addressResults=
addressSearch=

