downloadDirectory =
adminUser =
adminPassword =
partnerUser =
intUsername =
partnerUserPassword =
defaultPassword =
internalNewPassword =
verifyUsername =
verifyPassword =
intUsername =
region =
dbUsername =
dbPassword =
cardExpiryMonth =
cardExpiryYear =
bucketName =
secretKey=
proxyHost=
proxyPort=
binaryPath=
browserStackKey=
browserStackLogLocation=
gridURL =
apiHeader=""
basicAuthUserName =
basicAuthPassword =
signInUsername =
signInPassword =
AUTH_KEY =
intSubmitAppUserName =
intEnvUsername =
intEnvPassword =
intSystemAdmin =

#TransXchange test config
tokenUrl =
clientId =
clientSecret =
scope =
apiUrl =
operatorXmlInputBucket =
fileProcessedOutputQueueUrl =
