<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parallel" thread-count="2" parallel="classes">
    <test name="SingleTestFirefox">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.dvsa.testing.framework.runner.Runner"/>
        </classes>
    </test>

    <test name="SingleTestSafari">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.dvsa.testing.framework.runner.Runner"/>
        </classes>
    </test>
</suite>
