<?xml version="1.0" encoding="UTF-8"?>
<suite name="Parallel" thread-count="3" parallel="classes">
    <test name="SingleTestFirefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.dvsa.testing.framework.runner.Runner"/>
        </classes>
    </test>

    <test name="SingleTestSafari">
        <parameter name="browser" value="safari"/>
        <classes>
            <class name="org.dvsa.testing.framework.runner.Runner"/>
        </classes>
    </test>

    <test name="SingleTestIE">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="org.dvsa.testing.framework.runner.Runner"/>
        </classes>
    </test>
</suite>
