name: End to End Test

on:
  workflow_call:
    inputs:
      platform_env:
        type: string
        required: true
      cucumber_tags:
        type: string
        required: true
      browser_name:
        type: string
        required: true
      browser_version:
        type: string
        required: true
      exclude_tags:
        type: string
        required: false
      maven_options:
        type: string
        required: false
      fail_on_test_failures:
          type: boolean
          required: false
          description: "If to fail the workflow upon test failures"
          default: true
      batch_timeout_minutes:
        type: number
        required: false
        description: "Timeout in minutes for the AWS Batch job"
        default: 520
      aws_role:
        description: 'AWS IAM Role ARN to assume'
        required: false
        type: string
      bucket_name:
        description: 'Bucket for test report'
        required: true
        type: string
      bucket_key:
        description: 'Bucket key for report'
        required: true
        type: string
      batch_job_queue:
        description: 'AWS Batch Job Queue'
        required: true
        type: string
      batch_job_definition:
        description: 'AWS Batch Job Definition'
        required: true
        type: string

permissions:
  contents: write
  id-token: write
  checks: write

env:
  REPORT_NAME: "allure_attempt_${{ github.run_number }}.zip"
  ROLE_ARN: ${{ inputs.aws_role }}
  BUCKET_NAME: ${{ inputs.bucket_name }}
  BUCKET_KEY: ${{ inputs.bucket_key }}
  BATCH_JOB_QUEUE: ${{ inputs.batch_job_queue }}
  BATCH_JOB_DEFINITION: ${{ inputs.batch_job_definition }}

jobs:
  create-job-name:
    name: Create Job Name
    runs-on: ubuntu-latest
    environment: ${{ inputs.platform_env }}
    outputs:
      job_name: ${{ steps.set-job-name.outputs.job_name }}
    steps:
      - name: Set Job Name
        id: set-job-name
        run: |
          buildtime=$(date +"%Y%m%d%H%M%S")
          cucumber_tags="${{ inputs.cucumber_tags }}"
          sanitized_tags=$(echo "$cucumber_tags" | tr -cd 'a-zA-Z0-9-_')
          echo "job_name=e2e-$buildtime-${{ github.run_id }}-$sanitized_tags" >> $GITHUB_OUTPUT

  run-batch:
    name: Run Tests on AWS Batch
    needs: create-job-name
    runs-on: ubuntu-latest
    outputs:
      job_id: ${{ steps.submit-job.outputs.job_id }}
    env:
      JOB_NAME: ${{ needs.create-job-name.outputs.job_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS with provided credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          aws-region: ${{ vars.DVSA_AWS_REGION }}
          role-duration-seconds: 8400

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Submit AWS Batch Job
        id: submit-job
        run: |
          JOB_ID=$(aws batch submit-job \
            --job-name ${{ env.JOB_NAME }} \
            --job-queue ${{ env.BATCH_JOB_QUEUE }} \
            --job-definition ${{ env.BATCH_JOB_DEFINITION }} \
            --timeout "attemptDurationSeconds=$(( ${{ inputs.batch_timeout_minutes }} * 60 ))" \
            --container-overrides '{
              "command": [
                "/bin/sh",
                "-c",
                "./run.sh"
              ],
              "environment": [
                {
                  "name": "platformEnv",
                  "value": "${{ inputs.platform_env }}"
                },
                {
                  "name": "cucumberTags",
                  "value": "${{ inputs.cucumber_tags }}"
                },
                {
                  "name": "browserName",
                  "value": "${{ inputs.browser_name }}"
                },
                {
                  "name": "browserVersion",
                  "value": "${{ inputs.browser_version }}"
                },
                {
                  "name": "exclude_tags",
                  "value": "${{ inputs.exclude_tags }}"
                },
                {
                  "name": "buildId",
                  "value": "${{ env.JOB_NAME }}"
                },
                {
                  "name": "mavenOptions",
                  "value": "${{ inputs.maven_options }}"
                },
                {
                  "name": "resultsTargetBucket",
                  "value": "${{ env.BUCKET_NAME }}"
                },
                {
                  "name": "resultsTargetBucketPath",
                  "value": "${{ env.BUCKET_KEY }}"
                },
                {
                  "name": "resultsBuildNumber",
                  "value": "${{ github.run_number }}"
                }
              ]
            }')
          jobId=$(echo $JOB_ID | jq -r '.jobId')
          echo "job_id=$jobId" >> $GITHUB_OUTPUT

      - name: Wait for Job Completion
        env:
          JOB_ID: ${{ steps.submit-job.outputs.job_id }}
          TIME_OUT: ${{ inputs.batch_timeout_minutes }}
        run: |
          TIME_OUT=${{ env.TIME_OUT }}
          JOB_ID=${{ env.JOB_ID }}
          count=0
          trap 'aws batch terminate-job --job-id $JOB_ID --reason "GitHub workflow cancelled"; exit 1' SIGINT SIGTERM
          while true; do
            JOB_STATUS=$(aws batch describe-jobs --jobs $JOB_ID --query 'jobs[0].status' --output text)
            if [ "$JOB_STATUS" == "SUCCEEDED" ] || [ "$JOB_STATUS" == "FAILED" ]; then
              echo "Final job status: $JOB_STATUS"
              break
            fi
            echo "Job status: $JOB_STATUS"
            count=$((count + 1))
            if [ $count -ge $TIME_OUT ]; then
              echo "Batch JOB with id=${{ env.JOB_ID }} timeout. Exiting."
              exit 1
            fi
            sleep 60
          done
          if [ "$JOB_STATUS" == "FAILED" ]; then
            echo "AWS Batch job failed"
            exit 1
          fi

      - name: Cancel AWS Batch Job
        if: cancelled()
        env:
          JOB_ID: ${{ steps.submit-job.outputs.job_id }}
        run: |
          echo "Workflow was cancelled, terminating AWS Batch job"
          aws batch terminate-job --job-id $JOB_ID --reason "GitHub workflow cancelled"

  upload-batch-report:
    name: Upload Report to GitHub
    needs: [ run-batch, create-job-name ]
    runs-on: ubuntu-latest
    env:
      FOLDER_NAME: ${{ needs.create-job-name.outputs.job_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS with provided credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          aws-region: ${{ vars.DVSA_AWS_REGION }}
          role-duration-seconds: 8400

      - name: Download Allure Report from S3
        env:
          JOB_ID: ${{ needs.run-batch.outputs.job_id }}
        run: |
          mkdir -p ./upload/${{ env.FOLDER_NAME }}
          aws s3api get-object \
            --bucket ${{ env.BUCKET_NAME }} \
            --key "${{ env.BUCKET_KEY }}/${{ env.FOLDER_NAME }}/${{ env.REPORT_NAME }}" \
            "./upload/${{ env.FOLDER_NAME }}/${{ env.REPORT_NAME }}"

      - name: Unzip Allure Results
        run: |
          mkdir -p ./upload/${{env.FOLDER_NAME }}/allure-results
          unzip ./upload/${{env.FOLDER_NAME }}/${{ env.REPORT_NAME }} -d ./upload/${{env.FOLDER_NAME }}/allure-results
          ls -R ./upload/${{env.FOLDER_NAME }}/allure-results

      - name: Generate Timestamp
        id: generate-timestamp
        run: echo "timestamp=$(date +%Y%m%d%H%M%S%3N)" >> $GITHUB_ENV

      - name: Store Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: e2e-${{ needs.create-job-name.outputs.job_name }}
          path: ./upload/${{ env.FOLDER_NAME }}/allure-results

  report:
    name: Display Report
    needs: [ upload-batch-report, create-job-name ]
    env:
      REPORT_KEY: ${{ needs.create-job-name.outputs.job_name }}

    runs-on: ubuntu-latest
    environment: ${{ inputs.platform_env }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Allure Report
        uses: actions/download-artifact@v4
        with:
          name: e2e-${{ needs.create-job-name.outputs.job_name }}

      - name: Console Output Report
        run: |
          echo "Allure report is available at s3://${{ env.BUCKET_NAME }}/${{ env.BUCKET_KEY }}/${{env.REPORT_KEY}}/site/allure-maven-plugin/index.html"

      - name: Get Summary
        id: get-summary
        uses: dvsa/.github/.github/actions/surefire-report-summary@v5.0.8
        with:
          file-path: ./target/results-summary/summary.xml
          fail-on-test-failures: ${{ inputs.fail_on_test_failures }}
          pass-percentage: 100
          report-path: "https://${{ env.BUCKET_NAME }}.s3.amazonaws.com/${{ env.BUCKET_KEY }}/${{ env.REPORT_KEY }}/site/allure-maven-plugin/index.html"

  job-succeeded:
    name: Job Succeeded
    needs: [ report ]
    runs-on: ubuntu-latest
    steps:
      - name: Job Succeeded
        if: success()
        run: echo "AWS Batch job completed successfully!"
